# PyCity Schools Analysis
 
*    Average math and reading scores stay consistent across grade level when grouped by school. There is no major improvement in scores from any school.
*    Math passing rates are always consistently lower across every metric, but the difference between math and reading passing rates is greater         amoung lower performing schools, large schools, and higher spending per student which all seem to correlate.
*    The top 5 schools are all charter schools while the bottom 5 all district schools.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "C:/Users/pinel/UTAUS201810DATA2/UTAUS201810DATA2/Pandas/Homework/Instructions/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "C:/Users/pinel/UTAUS201810DATA2/UTAUS201810DATA2/Pandas/Homework/Instructions/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [74]:
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

# District Summary

In [2]:
total_schools = school_data_complete['School ID'].nunique()
total_student = school_data_complete['Student ID'].count()
total_budget = school_data['budget'].sum()
avg_math_score = round(school_data_complete['math_score'].mean(),6) 
avg_read_score = round(school_data_complete['reading_score'].mean(),6)
pass_math_score = round(school_data_complete.loc[school_data_complete['math_score']>= 70]['math_score'].count() /total_student*100,6)
pass_read_score = round(school_data_complete.loc[school_data_complete['reading_score']>= 70]['reading_score'].count() /total_student*100,6)
avg_passing_rate = round((avg_math_score+avg_read_score)/2,6)
#Crating Summary district data Frame
district_dict =  {'Total Schools':[total_schools],
                  'Total Students':[total_student],
                  'Total Budget':[total_budget],
                  'Average Math Score':[avg_math_score],
                  'Average Reading Score':[avg_read_score],
                  '% Passing Math':[pass_math_score],
                  '% Passing Reading':[pass_read_score],
                  '% Overall Passing Rate':[avg_passing_rate]}
district_summary_df  = pd.DataFrame(district_dict)


#formatting
district_summary_df=district_summary_df.style.format({'Total Schools':"{:,}",
                              'Total Students':"{:,}",
                              'Total Budget':"${:,.0f}",
                              'Average Math Score':"{:.6f}%",
                              'Average Reading Score':"{:.6f}%",
                              '% Passing Math':"{:.6f}%",
                              '% Passing Reading':"{:.6f}%",
                              '% Overall Passing Rate':"{:.6f}%"})      



district_summary_df

# School Summary

In [102]:

#School Type
sch_types = school_data.set_index('school_name')['type']
# total students by school
stu_per_sch = school_data.set_index('school_name')['size']
# school budget
sch_budget = school_data.set_index('school_name')['budget']
#school_df = school_data.drop(['School ID'], axis=1)
#Studen Budget
stu_budget =  school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']
#Avg Scores
avg_math = student_data.groupby('school_name')['math_score'].mean()
avg_read = student_data.groupby('school_name')['reading_score'].mean()
#passing scores
merged_df = school_data_complete
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch *100
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch *100
overall = (pass_math + pass_read)/2

#Data Frame
sch_summary = pd.DataFrame({
    "School Type": sch_types,
    "Total Students": stu_per_sch,
    "Per Student Budget": stu_budget,
    "Total School Budget": sch_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})

school_df = pd.DataFrame(sch_summary)
#formatting
sch_summary = sch_summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:.6}%", 
                          'Average Reading Score': "{:.6}%", 
                          "% Passing Math": "{:.6}%", 
                          "% Passing Reading": "{:.6}%", 
                          "Overall Passing Rate": "{:.6}%"})
sch_summary

# Top Performing Schools (By Passing Rate)

In [104]:
# sort values by passing rate and then only print top 5

top_5 = school_df.sort_values(by = "Overall Passing Rate", ascending = False).head(5)
top_5 = top_5.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:.6}%", 
                          'Average Reading Score': "{:.6}%", 
                          "% Passing Math": "{:.6}%", 
                          "% Passing Reading": "{:.6}%", 
                          "Overall Passing Rate": "{:.6}%"})

top_5

# Bottom Performing Schools (By Passing Rate)

In [106]:
# sort values by passing rate and then only print botton 5

botton_5 = school_df.sort_values(by = "Overall Passing Rate", ascending = True).head(5)
botton_5 = botton_5.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:.6}%", 
                          'Average Reading Score': "{:.6}%", 
                          "% Passing Math": "{:.6}%", 
                          "% Passing Reading": "{:.6}%", 
                          "Overall Passing Rate": "{:.6}%"})

botton_5

# Math Scores by Grade

In [107]:
#creates grade level average math scores for each school 
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School_name"

#show and format
math_scores.style.format({'9th': '{:.6}%', 
                          "10th": '{:.6}%', 
                          "11th": "{:.6}%", 
                          "12th": "{:.6}%"})

# Reading Score by Grade

In [108]:
#creates grade level average reading scores for each school
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

#format
reading_scores.style.format({'9th': '{:.6}%', 
                             "10th": '{:.6}%', 
                             "11th": "{:.6}%", 
                             "12th": "{:.6}%"})

# Scores by School Spending

In [112]:
# create spending bins
bins = [0, 585, 615, 645, 675]
group_name = ['< $585', "$585-615", "$615-645", "$645-675"]
merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], bins, labels = group_name)

#group by spending
by_spending = merged_df.groupby('spending_bins')

#calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count() * 100
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count() *100
overall = (pass_math + pass_read)/2 
            
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            


scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

#formating
scores_by_spend = scores_by_spend.style.format({'Average Math Score': '{:.6}%', 
                              'Average Reading Score': '{:.6}%', 
                              '% Passing Math': '{:.6}%', 
                              '% Passing Reading':'{:.6}%', 
                              'Overall Passing Rate': '{:.6}%'})
scores_by_spend

# Scores by School Size

In [113]:
# create size bins
bins = [0, 1000, 2000, 5000]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
merged_df['size_bins'] = pd.cut(merged_df['size'], bins, labels = group_name)

#group by spending
by_size = merged_df.groupby('size_bins')

#calculations 
avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
overall = (pass_math + pass_read)/2

            
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            


scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#formating
scores_by_size = scores_by_size.style.format({'Average Math Score': '{:.6}%', 
                              'Average Reading Score': '{:.6}%', 
                              '% Passing Math': '{:.6}%', 
                              '% Passing Reading':'{:.6}%', 
                              'Overall Passing Rate': '{:.6}%'})
scores_by_size

# Scores by School Type

In [115]:
# group by type of school
by_type = merged_df.groupby("type")

#calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100
overall = (pass_math + pass_read)/2

# df build            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    

scores_by_type.index.name = "Type of School"


#formating
scores_by_type = scores_by_type.style.format({'Average Math Score': '{:.6}%', 
                              'Average Reading Score': '{:.6}%', 
                              '% Passing Math': '{:.6}%', 
                              '% Passing Reading':'{:.6}%', 
                              'Overall Passing Rate': '{:.6}%'})
scores_by_type